---
abi_x86_targets:
  - "32"
  - "64"
accept_licenses:
  app-arch/unrar: unRAR
  app-arch/7zip: unRAR
  app-admin/terraform: BUSL-1.1
  dev-util/packer: BUSL-1.1
  media-fonts/font-bh-ttf: bh-luxi
  media-fonts/font-bh-type1: bh-luxi
  media-libs/faac: MPEG-4
  net-im/discord: all-rights-reserved
  net-im/slack: all-rights-reserved
  sys-kernel/linux-firmware: linux-fw-redistributable no-source-code
  x11-drivers/nvidia-drivers: NVIDIA-r2 NVIDIA-2025

package_use_flags:
  app-admin/eclean-kernel: ["zstd"]
  app-arch/7zip: ["rar"]
  app-editors/gvim: ["lua", "python"]
  app-editors/vim: ["lua", "python", "terminal"]
  app-containers/podman: ["wrapper"]
  dev-cpp/eigen: ["cuda"]
  app-crypt/gpgme: ["python"]
  app-dicts/myspell: ["en-US"]
  dev-lang/mono: ["minimal"]
  dev-lang/rust: ["clippy", "doc", "rls", "rustfmt", "rust-src"]
  dev-lang/rust-bin: ["rustfmt"]
  dev-libs/boost: ["python"]
  dev-libs/libdbusmenu: ["gtk3"]
  dev-libs/libpcre2: ["pcre32"]
  dev-libs/nss: ["cacert", "utils"]
  dev-python/numpy: ["lapack"]
  dev-python/pillow: ["webp"]
  dev-qt/qtmultimedia: ["widgets"]
  dev-qt/qtquickcontrols2: ["widgets"]
  gnome-base/gvfs: ["fuse", "mtp"]
  media-fonts/nerdfonts: ["cascadiacode", "cascadiamono", "iosevka", "iosevkaterm", "iosevkatermslab", "robotomono"]
  media-gfx/gthumb: ["-cdr"]
  media-gfx/imagemagick: ["perl"]
  media-libs/freetype: ["brotli", "harfbuzz"]
  media-libs/babl: ["introspection"]  # required by media-gfx/gimp
  media-libs/gd: ["fontconfig"]
  media-libs/gegl: ["introspection"]  # required by media-gfx/gimp
  media-libs/harfbuzz: ["truetype"]
  media-libs/libcanberra: ["gtk2", "gtk3"]
  media-libs/libsdl2: ["gles2"]
  media-libs/mlt: ["ffmpeg", "frei0r", "jack"]
  media-libs/opencolorio: ["-opengl"]
  media-libs/opencv:
    - "contrib"
    - "contribdnn"
    - "features2d"  # required by media-video/shotcut
  media-libs/opensubdiv: ["cuda"]
  media-sound/pulseaudio: ["-daemon"]
  media-video/ffmpeg: ["cuda", "libv4l", "nvenc", "opencl", "opus", "theora", "v4l", "vpx"]
  media-video/pipewire: ["echo-channel", "pipewire-alsa", "sound-server", "system-service"]
  net-dns/dnsmasq: ["script"]
  net-firewall/iptables: ["nftables"]
  net-libs/gnutls: ["pkcs11", "tools"]
  net-libs/nodejs: ["npm"]
  net-libs/webkit-gtk: ["-gstreamer"]
  net-misc/networkmanager: ["bluetooth", "concheck", "connection-sharing", "dhcpd", "iptables", "iwd", "ncurses", "policykit", "wifi"]
  net-misc/remmina: ["gvnc", "rdp", "spice", "ssh", "vnc", "zeroconf"]
  net-misc/spice-gtk: ["usbredir"]
  net-vpn/forticlient: ["appindicator"]
  net-wireless/wpa_supplicant: ["p2p"]
  sci-libs/openblas: ["openmp"]
  sys-apps/hwloc: ["cuda"]
  sys-apps/xdg-desktop-portal: ["screencast"]
  sys-apps/systemd: ["cryptsetup"]
  "sys-boot/grub:2": ["device-mapper"]
  sys-devel/gcc: ["graphite"]
  sys-fs/lvm2: ["lvm"]
  sys-kernel/installkernel: ["dracut", "grub"]
  sys-kernel/linux-firmware: ["savedconfig"]
  sys-libs/zlib: ["minizip"]
  virtual/imagemagick-tools: ["perl"]
  virtual/rust: ["rustfmt"]
  x11-libs/libdrm: ["libkms"]
  x11-libs/wxGTK: ["gstreamer"]
  x11-themes/catppuccin-cursors: ["{{ catppuccin.theme }}"]
  x11-themes/catppuccin-gtk: ["{{ catppuccin.theme }}"]

ebuilds:
  - app-admin/apache-tools
  - app-admin/awscli
  - app-admin/helm
  - app-admin/pass
  - app-admin/terraform
  - app-arch/file-roller
  - app-arch/unrar
  - app-arch/7zip
  - app-benchmarks/wrk
  - app-containers/distrobox
  - app-containers/k3d
  - app-containers/podman
  - app-containers/podman-compose
  - app-containers/skopeo
  - app-crypt/yubikey-manager
  - app-crypt/tpm2-tools
  - app-crypt/tpm2-tss
  - app-crypt/yubikey-manager-qt
  - app-editors/neovim
  - app-editors/vim
  - app-emulation/virt-manager
  - app-misc/asciinema
  - app-misc/fastfetch
  - app-misc/fdupes
  - app-misc/jq
  - app-misc/tmux
  - app-office/libreoffice-bin
  - app-shells/fzf
  - app-shells/zoxide
  - app-text/evince
  - app-text/xournalpp
  - dev-debug/strace
  - dev-java/icedtea-web
  - dev-java/openjdk-bin:8
  - dev-java/openjdk-bin:21
  - dev-java/openjdk-bin:25
  - dev-lang/go
  - dev-lang/rust
  - dev-python/uv
  - dev-util/pkgcheck
  - dev-util/pkgdev
  - dev-util/shellcheck-bin
  - dev-vcs/bfg
  - dev-vcs/git-crypt
  - dev-vcs/git-filter-repo
  - dev-vcs/subversion
  - gnome-extra/nm-applet
  - lxde-base/lxmenu-data
  - media-fonts/noto-emoji
  - media-fonts/iosevka
  - media-fonts/roboto
  - media-fonts/powerline-symbols
  - media-gfx/darktable
  - media-gfx/gimp  # TODO: maybe replace completely with pinta ?
  - media-gfx/graphviz
  - media-gfx/gthumb
  - media-gfx/imagemagick
  - media-gfx/pinta
  - media-sound/alsa-utils
  - media-sound/pavucontrol
  - media-video/mpv
  - media-video/pipewire
  - media-video/shotcut
  - net-analyzer/mtr
  - net-analyzer/nmap
  - net-analyzer/openbsd-netcat
  - net-analyzer/tcpdump
  - net-analyzer/wireshark
  - net-dialup/minicom
  - net-dns/bind-tools
  - net-im/discord
  - net-im/slack
  - net-im/telegram-desktop
  - net-libs/nodejs
  - net-libs/webkit-gtk:4.1  # for orcaslicer
  - net-misc/chrony
  - net-misc/networkmanager
  - net-misc/openrdap
  - net-misc/putty
  - net-misc/remmina
  - net-misc/sshpass
  - net-misc/whois
  - net-misc/ssh-askpass-fullscreen
  - net-print/cups
  - net-print/cups-browsed
  - net-print/cups-meta
  - net-p2p/transmission
  - net-vpn/networkmanager-openvpn
  - net-vpn/openvpn
  - net-wireless/blueman
  - sci-libs/openblas
  - sys-apps/bat
  - sys-apps/eza
  - sys-apps/fwupd
  - sys-apps/ripgrep
  - sys-apps/smartmontools
  - sys-apps/xdg-desktop-portal-gtk
  - sys-block/dust
  - sys-boot/plymouth
  - sys-cluster/kubectl
  - sys-fs/extundelete
  - sys-fs/ntfs3g
  - sys-power/acpi
  - sys-power/acpid
  - sys-power/bbswitch
  - sys-power/powertop
  - sys-process/iotop
  - www-client/firefox-bin
  - x11-apps/mesa-progs
  - x11-apps/xbacklight
  - x11-base/xorg-apps
  - x11-base/xorg-fonts
  - x11-drivers/nvidia-drivers
  - x11-drivers/xf86-video-intel
  - x11-misc/arandr
  - x11-misc/bumblebee
  - x11-misc/light-locker
  - x11-misc/pcmanfm
  - x11-misc/picom  # compositor
  - x11-misc/primus
  - x11-misc/rofi
  - x11-misc/shutter
  - x11-misc/xclip
  - x11-misc/xdg-user-dirs
  - x11-misc/xdg-user-dirs-gtk
  - x11-misc/xdg-utils
  - x11-misc/xsel
  - x11-terms/alacritty
  - x11-terms/ghostty
  - x11-themes/tela-icon-theme
  - x11-wm/i3

ebuilds_from_overlays:
  app-shells/direnv: guru
  dev-util/lets: open-craft-guild
  media-fonts/nerdfonts: guru
  media-fonts/overpass: guru
  net-vpn/forticlient: open-craft-guild
  x11-misc/i3blocks-contrib: open-craft-guild
  x11-themes/catppuccin-cursors: guru
  x11-themes/catppuccin-gtk: guru

emerge_load_average: "{{ ansible_processor_cores }}"
emerge_jobs_number: "{{ ansible_processor_vcpus }}"

essential_ebuilds:
  - app-admin/eclean-kernel  # clean up outdated kernels
  - app-admin/eselect  # alternatives management
  - app-admin/sudo  # privilege escalation
  - app-admin/sysklogd  # loging daemon
  - app-eselect/eselect-repository  # layman replacement
  - app-editors/nano  # text editor which is part of system profile
  - app-portage/eix  # fast portage tree search
  - app-portage/gentoolkit  # euse and co.
  - app-portage/portage-utils  # this one is required for qlist utility
  - dev-vcs/git  # needed to fetch third-party Git overlays
  - sys-apps/gptfdisk  # gdisk: https://wiki.gentoo.org/wiki/EFI_System_Partition
  - sys-apps/merge-usr  # migrate systemd to merged-usr
  - sys-apps/pciutils  # lspci
  - sys-apps/usbutils  # lsusb
  - sys-fs/cryptsetup  # LUKS
  - sys-fs/exfat-utils  # exFAT support
  - sys-fs/dosfstools  # mkfs.fat: https://wiki.gentoo.org/wiki/EFI_System_Partition
  - sys-fs/lvm2  # LVM management
  - sys-fs/xfsdump  # https://yallalabs.com/linux/how-to-reduce-shrink-the-size-of-a-lvm-partition-formatted-with-xfs-filesystem/
  - sys-kernel/genkernel # Kernel building scripts
  - sys-kernel/gentoo-kernel-bin  # use binary kernel
  - sys-process/htop  # processes overview
  - sys-process/lsof  # htop dep
  - www-client/links  # needed to browse web docs from terminal

global_use_flags:
  - X
  - bash-completion
  - cups
  - dbus
  - dist-kernel
  - gnome-keyring
  - networkmanager
  - pulseaudio
  - systemd
  - vim-syntax
  - -gtk-doc
  - -wayland

groups_memberships:
  - user: anxolerd
    group: docker
    package: docker
  - user: anxolerd
    group: lpadmin
    package: cups
  - user: anxolerd
    group: wheel
    package: sudo
  - user: anxolerd
    group: kvm
    package: qemu
  - user: anxolerd
    group: libvirt
    package: virt-manager
  - user: anxolerd
    group: netdev
  - user: anxolerd
    group: pcap

portage_overlays:
  - name: open-craft-guild
    sync_type: git
    sync_uri: https://github.com/open-craft-guild/gentoo-overlay.git
    masters: gentoo
  - name: guru
    sync_type: git
    sync_uri: https://github.com/gentoo-mirror/guru.git
    masters: gentoo

look_and_feel:
  theme: catppuccin-{{ catppuccin.theme }}-{{ catppuccin.accent }}-standard+default
  icon_theme: Tela-pink
  cursor_theme: catppuccin-{{ catppuccin.theme }}-{{ catppuccin.accent }}-cursors

masked_packages:
  - atom: '=media-sound/mpg123-1.32.3-r1::gentoo'
    description: Fix conflict with mpg123 and libmpg123
  - atom: '=media-libs/libmpg-1.32.3-r1::gentoo'
    description: Fix conflict with mpg123 and libmpg123
  - atom: '=media-libs/libsndfile-1.2.2-r1::gentoo'
    description: Fix conflict with mpg123 and libmpg123
  - atom: '=net-vpn/forticlient-7.4.1.1697::open-craft-guild'
    description: VPN broken in this version

python_targets: []
python_single_target: ""
ruby_targets: []
unmask_ebuilds: {}
video_card_targets:
  - intel
  - nvidia
