---  # vim:se ft=yaml.ansible:
- name: Ensure Alacritty config directory exists
  ansible.builtin.file:
    path: ~/.config/alacritty
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0755"

- name: Download catppuccin theme
  ansible.builtin.git:
    clone: true
    dest: ~/.config/alacritty/catppuccin
    repo: https://github.com/catppuccin/alacritty.git
    update: true

- name: Generate an Alacritty config from the template
  ansible.builtin.template:
    src: alacritty.toml.j2
    dest: ~/.config/alacritty/alacritty.toml
    mode: "0640"
    owner: "{{ user }}"
    group: "{{ user }}"
