---  # vim: set ft=yaml.ansible :
- name: Configure helper aliases for zoxide
  when: "'zoxide' in ansible_facts.packages"
  ansible.builtin.blockinfile:
    append_newline: true
    prepend_newline: true
    block: |
      eval "$(zoxide init bash)"
      alias cd="zd"
      zd() {
        if [ $# -eq 0 ]; then
          builtin cd ~ && return
        elif [ -d "$1" ]; then
          builtin cd "$1"
        else
          z "$@" && printf "\U000F17A9 " && pwd || echo "Error: Directory not found"
        fi
      }
    marker: '# {mark} Zoxide Integration'
    dest: ~/.bashrc
    create: true
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0640"

- name: Use fzf for completion and search
  ansible.builtin.blockinfile:
    append_newline: true
    prepend_newline: true
    block: |
      [ -f "/usr/share/fzf/key-bindings.bash" ] && . /usr/share/fzf/key-bindings.bash
      [ -f "/usr/share/bash-completion/completions/fzf" ] && . /usr/share/bash-completion/completions/fzf
    dest: ~/.bashrc
    marker: '# {mark} FZF Search and completion'
    create: true
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0640"
  when: "'fzf' in ansible_facts.packages"

- name: Use eza instead of ls
  ansible.builtin.blockinfile:
    append_newline: true
    prepend_newline: true
    block: |
      alias ls='eza --group-directories-first'
      alias ll='eza --group-directories-first -alF'
      alias la='eza --group-directories-first -a'
      alias lt='eza --tree --level=2 --long --icons --git'
      alias tree='eza --tree'
    marker: '# {mark} Eza instead of ls and tree'
    dest: ~/.bashrc
    create: true
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0640"
  when: "'eza' in ansible_facts.packages"

- name: Configure bash_history options
  ansible.builtin.blockinfile:
    append_newline: true
    prepend_newline: true
    block: |
      export HISTCONTROL=ignoreboth:erasedups
      export HISTSIZE=10000
    dest: ~/.bashrc
    marker: '# {mark} Bash history options'
    create: true
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0640"

- name: Hook direnv into shell
  ansible.builtin.lineinfile:
    line: 'eval "$(direnv hook bash)"'
    dest: ~/.bashrc
    state: present
    create: true
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0640"
  when: "'direnv' in ansible_facts.packages"

- name: Use custom scripts in ~/.local/bin
  ansible.builtin.lineinfile:
    line: >-
      [ -d "${HOME}/.local/bin" ] && export PATH="${HOME}/.local/bin:${PATH}"
    dest: ~/.bashrc
    create: true
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0640"

- name: Optionally init SDKMan
  ansible.builtin.blockinfile:
    append_newline: true
    prepend_newline: true
    block: |
      # THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!
      export SDKMAN_DIR="$HOME/.sdkman"
      [[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"
    dest: ~/.bashrc
    marker: '# {mark} SDKMAN! Configuration'
    insertafter: EOF
    create: true
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0640"
