---  # vim: set ft=yaml.ansible :
- name: Set fact linux_platform
  ansible.builtin.set_fact:
    linux_platform: >-
      {{
        (ansible_architecture == "x86_64")
        | ternary("amd64", ansible_architecture)
      }}

- name: Create krew directory
  ansible.builtin.file:
    path: ~/.krew/bin
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0755"

- name: Download krew package manager for kubectl
  ansible.builtin.unarchive:
    remote_src: true
    src: "https://github.com/kubernetes-sigs/krew/releases/download/{{ krew.version }}/krew-{{ ansible_system | lower }}_{{ linux_platform }}.tar.gz"
    dest: ~/.krew/bin
    exclude:
      - LICENSE
    extra_opts:
      - --transform
      - 'flags=r;s/krew-{{ ansible_system | lower }}_{{ linux_platform }}/kubectl-krew/'
    owner: "{{ user }}"
    group: "{{ user }}"

- name: Update krew plugins list
  ansible.builtin.command: /usr/bin/kubectl krew update
  args:
    creates: /home/"{{ user }}"/.krew/index/plugins/krew_plugins.yaml
  environment:
    PATH: "{{ ansible_env.PATH }}:{{ ansible_env.HOME }}/.krew/bin"

- name: Make sure krew is in PATH
  ansible.builtin.lineinfile:
    line: export PATH="${PATH}:${HOME}/.krew/bin"
    path: ~/.bashrc
    state: present

- name: Install krew plugins
  ansible.builtin.command: kubectl krew install {{ item }}
  with_items: "{{ krew.plugins }}"
  environment:
    PATH: "{{ ansible_env.PATH }}:{{ ansible_env.HOME }}/.krew/bin"
  when: krew.plugins is defined
  register: kubectl_krew_install_r
  changed_when: >-
    (
      'Skipping plugin "'
      + item
      + '", it is already installed'
    ) not in kubectl_krew_install_r.stderr
