---  # vim:se ft=yaml.ansible:
- name: Create SSH config dir within userspace
  ansible.builtin.file:
    dest: ~/.ssh
    group: "{{ user }}"
    mode: u=rwx,g=,o=
    owner: "{{ user }}"
    state: directory

- name: Generate SSH config from template
  ansible.builtin.template:
    dest: ~/.ssh/config
    group: "{{ user }}"
    mode: u=rw,g=r,o=
    owner: "{{ user }}"
    src: ssh-config.j2
