---  # vim:se ft=yaml.ansible:
- name: Configure tasks
  ansible.builtin.template:
    src: systemd.service.j2
    dest: ~/.config/systemd/user/{{ task.slug }}.service
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0644"
  loop: "{{ cron_tasks }}"
  loop_control:
    label: "{{ task.slug }} ({{ task.description }})"
    loop_var: "task"
  notify: ensure-tasks-enabled

- name: Configure timers
  ansible.builtin.template:
    src: systemd.timer.j2
    dest: ~/.config/systemd/user/{{ task.slug }}.timer
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0644"
  loop: "{{ cron_tasks }}"
  loop_control:
    label: "{{ task.slug }} ({{ task.description }})"
    loop_var: "task"
  notify: ensure-timers-enabled
