---  # vim: set ft=yaml.ansible :
- name: Ensure gnome keyring is running
  ansible.builtin.lineinfile:
    create: true
    path: ~/.xprofile
    line: "eval $(gnome-keyring-daemon --start)"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0644"
    state: present
  when: "'gnome-keyring' in ansible_facts.packages"

# - name: Ensure SSH socket is exposed for SSH Agent
#   ansible.builtin.lineinfile:
#     create: true
#     path: ~/.xprofile
#     line: "export SSH_AUTH_SOCK"
#     owner: "{{ user }}"
#     group: "{{ user }}"
#     mode: "0644"
#     state: present

- name: Run light-locker process
  ansible.builtin.lineinfile:
    create: true
    path: ~/.xprofile
    line: "light-locker &"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0644"
    state: present
  when: "'light-locker' in ansible_facts.packages"

- name: Set keyboard layout
  ansible.builtin.lineinfile:
    create: true
    path: ~/.xprofile
    regex: "^setxkbmap"
    line: >-
      setxkbmap -layout us,ua
      -option grp:win_space_toggle
      -option terminate:ctrl_alt_bksp
      -option ctrl:nocaps
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0644"
    state: present
