---
alacritty:
  font_family: IosevkaTerm Nerd Font Mono
git_options:
  alias.ignore: '!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ; }; gi'
  core.excludesFile: '~/.gitignore'
  fetch.parallel: 0  # auto, fetch from different remotes simultaneously
  gpg.program: gpg2
  init.defaultBranch: main
  pull.ff: only
  pull.rebase: true
  push.gpgsign: if-asked
  user.email: anxolerd@outlook.com
  user.name: Oleksandr Kovalchuk
i3blocks:
  modules:
    - 'volume'
    - 'battery'
    - 'calendar'
    - 'time'
i3:
  gap: 16
  modkey: Mod4
  font: IosevkaTerm Nerd Font 10
krew:
  version: v0.4.5
  plugins:
    - ctx
    - krew
    - lineage
    - oidc-login
ssh_host_configs:
  - 'africatwin':
      User: anxolerd
      Hostname: africatwin.local
  - '*':
      SetEnv: TERM=xterm-256color
      User: akovalchuk
tpm:
  bundle_path: ~/.tmux/plugins/tpm
user: anxolerd
vim:
  plug:
    bundle_path: ~/.vim/autoload/plug.vim
    self_plugin: junegunn/vim-plug
  coc:
    extensions:
      - '@yaegassy/coc-ansible'
      - 'coc-clangd'
      - 'coc-conventional'
      - 'coc-docker'
      - 'coc-go'
      - 'coc-java'
      - 'coc-json'
      - 'coc-pyright'
      - 'coc-sh'
      - 'coc-yaml'

cron_tasks:
  - slug: cleanup-kvm-launchers
    description: Delete KVM launchers
    calendar: "*:00:00"
    execute: "find %h/Downloads -name 'launch*.jnlp' -delete"
