{{ ansible_managed | comment }}
[Settings]
gtk-theme-name = {{ look_and_feel.theme | default("Adwaita") }}
gtk-icon-theme-name = {{ look_and_feel.icon_theme | default("gnome") }}
gtk-cursor-theme-name = {{ look_and_feel.cursor_theme | default("Adwaita") }}
